version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
    working_dir: /app/backend
    env_file:
      - backend/.env
    volumes:
      - ./backend:/app/backend
    ports:
      - "5001:5001"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
    working_dir: /app
    environment:
      - VITE_API_BASE=http://localhost:5001
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend
